body{
    background-image: linear-gradient(
        180deg,
        #6495ED 5%,
        #00FFFF 20%,
        #008B8B 60%,
        #00CED1 95%

    );

    margin: 0;
    min-height: 150vh;
    width: 100%;

}

main{
    align-items:center;
    display: flex;
    height: 230vh;
    justify-content: center;
    position: relative;
}

main > section img {
    height: 200px;
    margin: 15px 0;
    width: 200px;
}

main > section > div p {
    font-size: 2rem;
    margin: 10px 150px 10px;  
 }
 
/*main > section button {
    background-color: #9932CC;
    border: none;
    border-radius: 4px;
    color: white;
    font-family: EuclidBold;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0,6px;
    line-height: 15px;
    text-transform: uppercase;
    padding: 9px 23px;
}*/

main > section button{
    text-align: center;
    margin-top: 10px;
}

main > section button {
    background-color: #9932CC;
    border: bold;
    border-radius: 6px;
    font-family: EuclidBold;
    font-size: 18px;
    letter-spacing: -0,6px;
    line-height: 18px;
    padding:9px 25px;
    position: relative;
    cursor: pointer;
    text-transform: uppercase;
}


#detalhes-container-a {
    font-weight: bold;
    list-style-type: none;
    width: 90%;
}

#detalhes-container-a > li {
    align-items: baseline;
    display: flex;
}


#detalhes-container-a > li p {
    color: white;

}

#detalhes-container-b {
    font-weight: bold;
    list-style-type: none;
    width: 90%;
}

#detalhes-container-b > li {
    align-items: baseline;
    display: flex;
}


#detalhes-container-b > li p {
    color: white;

}

#detalhes-container-c {
    font-weight: bold;
    list-style-type: none;
    width: 90%;
}

#detalhes-container-c > li {
    align-items: baseline;
    display: flex;
}


#detalhes-container-c > li p {
    color: white;

}